@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    text-align: center;
    width: 500px;
    margin-top: 100px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Light weight */
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 0.2em; /* Межбуквенное расстояние */
    text-transform: uppercase; /* Верхний регистр */
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="password"], 
input[type="file"]{
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    margin: 15px 0;
    color: #333;
    text-decoration: none;
    font-size: 15px; /* Увеличенный размер шрифта */
    display: block;
    text-align: left; /* Выровнять по левому краю */
    margin-left: 15px; /* Смещение правее на 5px */
    font-family: 'Montserrat', sans-serif;
    
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ECE4E4;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

button:hover {
    background-color: transparent;
    opacity: 0.8;
}

#bio {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

#authorSelect {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

#authorSelect:focus {
    border-color: #D9D9D9; /* Цвет границы при фокусе */
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
}

#authorSelect option {
    padding: 5px; /* Внутренний отступ для вариантов */
    background-color: #fff; /* Белый фон */
    color: #333; /* Цвет текста */
}

#authorSelect option:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении */
}


#photo {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}


/* Стиль для добавленного текста */
#photo::before {
    /* content: 'Выберите файл'; */
    display: inline-block;
    background-color: #F0F0F0;   /* Светлый фон */
    padding: 8px 20px;            /* Отступы */
    border-radius: 5px;           /* Скругленные углы */
    font-size: 14px;              /* Размер шрифта */
    color: #555555;               /* Цвет текста */
    text-align: center;
}

/* Псевдоэлемент для отображения иконки при загрузке */
#photo:focus::before {
    background-color: #D9D9D9;   /* Цвет фона при фокусе */
    color: #000000;               /* Цвет текста при фокусе */
}


/* Стиль для текста, который появляется после выбора файла */
#photo:valid + .custom-file-button {
    background-color: #D9D9D9;         /* Цвет фона после выбора файла */
    color: #333333;                    /* Цвет текста после выбора файла */
}




