@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: #000000;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    position: fixed; /* Фиксация хедера */
    top: 0; /* Расположение у верхнего края */
    width: 100%; /* Ширина на весь экран */
    z-index: 1;
}


/* Стили логотипа */
header .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

header nav {
    margin-left: 420px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

header nav a:hover {
    color: #9C9C9C;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.auth-buttons button:hover {
    background-color: #D9D9D9;
}

.auth-buttons .register-btn {
    background-color: #ECE4E4;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

.book-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.book-cover {
    display: flex; /* Включаем flexbox */
    justify-content: flex-end; /* Сдвигаем содержимое вправо */
    width: 100%; /* Убедимся, что контейнер занимает всю ширину */
}

.book-cover img {
    margin-top: -60px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.text-content {
    flex: 1;
}

.book-title {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px; /* Отступ под заголовком */
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: left; /* Выравнивание текста слева */
}

.book-description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: -200px; /* Убираем верхний отступ, если есть */
    text-align: left; /* Выравнивание текста слева */
}

.styled-button {
    margin-top: 15px;
    margin-left:270px;
    padding: 10px 20px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.styled-button:hover {
    background-color: #D9D9D9;
}


footer {
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 280px;
}

.footer-logo {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
}
