@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    text-align: center;
    width: 500px;
    margin-top: 50px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 0.1em;
}

input[type="text"],
input[type="date"], 
textarea, 
select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

input[type="text"]:focus,
input[type="date"]:focus, 
textarea:focus, 
select:focus {
    border-color: #D9D9D9;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ECE4E4;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 150px;
}

button:hover {
    background-color: transparent;
    opacity: 0.8;
}

#map {
    width: 100%;
    height: 300px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}
