@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    position: fixed; /* Фиксация хедера */
    top: 0; /* Расположение у верхнего края */
    width: 100%; /* Ширина на весь экран */
    z-index: 1;
}


/* Стили логотипа */
header .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

header nav {
    margin-left: 420px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

header nav a:hover {
    color: #9C9C9C;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.auth-buttons button:hover {
    background-color: #D9D9D9;
}

.auth-buttons .register-btn {
    background-color: #ECE4E4;
}


h1, h2 {
    color: #444;
}
.book-info-container {
    display: flex; /* Используем Flexbox для выравнивания по горизонтали */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    justify-content: flex-start; /* Располагаем элементы слева */
    margin-top: 150px;
    background: #fff;
    margin-bottom: 20px;
    padding: auto 50px;
    width: 80%;
    margin-left: 100px;
}

.book-text {
    flex: 1; /* Текст занимает оставшееся пространство */
    font-family: 'Kumbh Sans', sans-serif;
}

.book-image {
    flex-shrink: 0; /* Картинка не сжимается */
    width: 400px; /* Ширина картинки */
    height: 400px; /* Высота картинки */
    margin-left: 50px; /* Отступ между текстом и картинкой */
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-cover {
    width: 100%; /* Масштабируем картинку по ширине */
    height: 100%; /* Масштабируем картинку по высоте */
    object-fit: cover; /* Картинка заполняет контейнер, сохраняя пропорции */
}

.book-text h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px; /* Отступ под заголовком */
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: left; /* Выравнивание текста слева */
}

.book-text p {
    font-size: 1em; /* Размер шрифта для параграфа */
    color: #000; /* Цвет текста */
    line-height: 1.5; /* Межстрочный интервал */
    margin-bottom: 10px; /* Отступ снизу */
}

.book-text strong {
    font-weight: bold; /* Жирное начертание текста */
    color: #000; /* Цвет текста для выделенного элемента */
    font-family: 'Montserrat', sans-serif;
}



.comments-container {
    display: flex; /* Используем flexbox для горизонтального расположения текста и картинки */
    flex-direction: column; /* Размещение текста в столбик */
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    padding: 20px;
    background: #fff;
    margin: 0 auto 50px; /* Снизу отступ 50px, сверху 0, по бокам автоматически */


}

.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-family: 'Kumbh Sans', sans-serif;

}

.comment p {
    font-size: 1em; /* Размер шрифта для параграфа */
    color: #000; /* Цвет текста */
    line-height: 1.5; /* Межстрочный интервал */
    margin-bottom: 10px; /* Отступ снизу */
    font-family: 'Kumbh Sans', sans-serif;

}

/* Стили для <strong> внутри .comment */
.comment strong {
    font-weight: bold; /* Жирное начертание текста */
    color: #000; /* Цвет текста для выделенного элемента */
    font-family: 'Montserrat', sans-serif;
}

/* Стили для <em> внутри .comment */
.comment em {
    font-weight: bold; /* Жирное начертание текста */
    color: #000; /* Цвет текста для выделенного элемента */
    font-family: 'Montserrat', sans-serif;
}

.recom-title{
    margin-left: 90px;
    margin-top: 130px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px; /* Отступ под заголовком */
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: left; /* Выравнивание текста слева */
}

.comment:last-child {
    border-bottom: none;
}

footer {
    margin-top: 140px;
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
   
}

.footer-logo {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
}
