@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

/* Обнуляем отступы и границы у всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: #000000;
    background-color: #FFFFFF;
}

/* .watermark {
    position: absolute;
    background-image: url('../images/book-shop.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px; 
    height: 800px;
    pointer-events: none; 
    user-select: none; 
} */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
}

/* Стили логотипа */
header .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

header nav {
    margin-left: 420px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

header nav a:hover {
    color: #9C9C9C;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.auth-buttons button:hover {
    background-color: #D9D9D9;
}

.auth-buttons .register-btn {
    background-color: #ECE4E4;
}

/* Секция Hero с каруселью */
.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-bottom: 80px;
}

.carousel {
    position: relative;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, left 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide.active {
    left: 0;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: auto;
    max-width: 1400px;
    max-height: 450px;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    bottom: 20%;
    left: 10%;
    text-align: left;
    color: #FFFFFF;
}

.hero h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.pagination {
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px; 
    z-index: 10; 
}

.pagination .dot {
    width: 8px; 
    height: 8px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination .dot.active {
    background-color: #333; 
}


.more-btn {
    padding: 10px 20px;
    background-color: transparent;
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
    font-weight: lighter;
}

/* Контейнер для секций */
.main-content {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 40px auto;
    gap: 80px;
}

.about,
.recommendations {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
    flex-direction: row;
}

.text-container {
    width: 50%;
    margin-top: 50px; 
}

.image-container {
    width: 50%;
}

.section-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.about h2,
.recommendations h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.about p,
.recommendations p {
    font-size: 18px;
    line-height: 1.6;
    color: #9C9C9C;
    max-width: 550px; 
}



/* Стили для футера */
footer {
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
}

.footer-logo {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
}
